<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>GenerateMvcWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   	<servlet>
		<servlet-name>GenerateMvcServlet</servlet-name>
		<servlet-class>hk.org.hkbh.cms.generatemvc.web.servlets.GenerateMvcServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GenerateMvcServlet</servlet-name>
		<url-pattern>/GenerateMvcServlet</url-pattern>
	</servlet-mapping>
<!--  	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping> -->

 

	<servlet>
		<servlet-name>Initializer</servlet-name>
		<servlet-class>hk.org.hkbh.cms.generatemvc.web.systems.Initializer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
</web-app>